.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-white;
  grid-column: 2 / -2;

  &__logo {
    cursor: pointer;
  }
}

.header__navbar {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar ul{
  margin: 0;
  padding: 0;
}

.header__navbar ul li {
  margin-right: 5rem;
  list-style: none;
  display: inline-block;
  position: relative;

  &:last-child{
    margin-right: 0;
  }
}

.header__navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.header__navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #c18e00;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.header__navbar ul li:hover::after {
  width: 100%;
}